%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-arrow-up-fill:before {
	content: "\e901";
}
._icon-code-line:before {
	content: "\e905";
}
._icon-copyright-fill:before {
	content: "\e907";
}

._icon-facebook-fill:before {
	content: "\e909";
	position: absolute;
	font-size: rem(24);
	right: 19%;
	top: 19%;
	@media (max-width: 991px) {
		font-size: 18px;
	}
	@media (max-width: 768px) {
		font-size: 24px;
	}
}

._icon-facebook-fill {
	position: relative;
}

._icon-instagram-fill {
	position: relative;
}
._icon-instagram-fill:before {
	content: "\e90c";
	position: absolute;
	font-size: rem(24);
	right: 19%;
	top: 19%;
	@media (max-width: 991px) {
		font-size: 18px;
	}
	@media (max-width: 768px) {
		font-size: 24px;
	}
}

._icon-twitter-fill:before {
	content: "\e916";
	position: absolute;
	font-size: rem(24);
	right: 19%;
	top: 19%;
	@media (max-width: 991px) {
		font-size: 18px;
	}
	@media (max-width: 768px) {
		font-size: 24px;
	}
}
._icon-twitter-fill {
	position: relative;
}

._icon-skype-fill {
	position: relative;
}

.icon-footer {
	background: #fff;
	color: #ff5300;
	height: 40px;
	width: 40px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	&:not(:last-child) {
		margin: 0px 30px 0px 0px;
	}
	transition: all 0.3s ease 0s;

	@media (min-width: 768px) {
		&:hover {
			background: #ff5300;
			color: #fff;
		}
	}

	@media (max-width: 991px) {
		height: 30px;
		width: 30px;
	}
	&:not(:last-child) {
		margin: 0px 10px 0px 0px;
	}
	@media (max-width: 768px) {
		height: 40px;
		width: 40px;
	}
	&:not(:last-child) {
		margin: 0px 30px 0px 0px;
	}
}

._icon-skype-fill:before {
	content: "\e915";
	position: absolute;
	font-size: rem(24);
	right: 19%;
	top: 19%;
	@media (max-width: 991px) {
		font-size: 18px;
	}
	@media (max-width: 768px) {
		font-size: 24px;
	}
}
._icon-file-line:before {
	content: "\e90b";
}

._icon-Light:before {
	content: "\e902";
	color: #fff;
	font-size: 24px;
}
._icon-Dark:before {
	content: "\e900";
	font-size: 24px;
}
._icon-menu-line:before {
	content: "\e90f";
}
._icon-message-circle:before {
	content: "\e906";
}
._icon-person:before {
	content: "\e908";
}
._icon-search-line:before {
	content: "\e911";
}
._icon-send-plane-fill:before {
	position: relative;
	content: "\e912";
	color: #fff;
	font-size: 24px;
	@media (max-width: 991px) {
		font-size: 18px;
	}
	@media (max-width: 768px) {
		font-size: 24px;
	}
}
._icon-send-plane-fill {
	padding: 18px 29px;
	background: #ff5300;
	@media (max-width: 991px) {
		padding: 14px 11px;
	}
	@media (max-width: 768px) {
		padding: 18px 29px;
	}
}
._icon-settings-4-line:before {
	content: "\e913";
}
._icon-share-box-line:before {
	content: "\e914";
}

._icon-timer1:before {
	content: "\e90a";
}
._icon-twitter-fill:before {
	content: "\e916";
}
._icon-location:before {
	content: "\e90d";
}
._icon-phone-call:before {
	content: "\e903";
}
._icon--email:before {
	content: "\e904";
}
