.wrapper-digital-agency {
	margin: 90px 0px 0px 0px;
	padding: 158px 0px;
	background-color: $OrangeBackgroundColor;
	position: relative;
	@media (max-width: $tablet) {
		padding: 80px 0px;
	}
	@media (max-width: $mobile) {
		padding: 50px 0px;
	}
}
.vidget-sicial {
	position: fixed;
	right: 0;
	z-index: 2;
}
.digital-agency {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	@media (max-width: $mobile) {
		flex-wrap: wrap-reverse;
		justify-content: center;
	}

	// .digital-agency__container

	&__container {
	}

	// .digital-agency__info

	&__info {
		padding: 15px 0px 0px 0px;
		flex: 0 0 493px;
		@media (max-width: $tablet) {
			flex: 0 0 356px;
		}

		@media (max-width: $mobile) {
			flex: 0 1 500px;
			text-align: center;
			padding: 15px 0px 0px 0px;
		}
	}

	// .digital-agency__social

	&__social {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 2vh;

		@media (max-width: $tablet) {
			top: 8%;
		}
		@media (max-width: $mobile) {
			display: none;
		}
		.icon-footer {
			@media (min-width: $tablet) {
				&:hover {
					transform: translateX(-9px);
					transition: all 0.3s ease 0s;
				}
			}

			margin: 0px 0px 5px 0px;
		}
	}

	// .digital-agency__img

	&__img {
		padding: 0px 0px 0px 35px;
		@media (max-width: $tablet) {
			padding: 0px 0px 0px 19px;
		}
		img {
			max-width: 100%;
			@media (max-width: $tablet) {
				max-width: 307px;
			}
			@media (max-width: $mobile) {
				max-width: 100%;
			}
		}

		.img {
			transform: translateX(100%);
			@media (max-width: $tablet) {
				transform: translateX(50%);
			}

			&._watcher-view {
				transform: translateX(0);
				transition: transform 1.2s ease 0s;
			}
		}
	}
}

.info-agency-digital {
	// .info-agency-digital__title

	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: math.div(42, 40);
		margin: 0px 0px 11px 0px;

		@media (max-width: $tablet) {
			font-weight: 600;
		}
		@media (max-width: $mobile) {
			font-size: 30px;
		}
	}

	// .info-agency-digital__text

	&__text {
	}

	// .info-agency-digital__btn

	&__btn {
		margin: 50px 0px 0px 0px;
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
		}

		@media (max-width: $mobile) {
			margin: 30px auto 0px auto;
		}
		.link {
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 45%);
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-weight: 500;
			width: 150px;
			height: 50px;
			background-color: $OrangeColor;
		}
	}
}
.socials {
}
.icon-footer {
}

// making  ========================================================================================================================================================
.making {
	// .making__container
	&__wrapper {
		padding: 120px 0px 120px 0px;
		@media (max-width: $mobile) {
			padding: 50px 0px 50px 0px;
		}
	}

	&__container {
	}

	// .making__inner

	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}
	}

	// .making__item

	&__item {
	}

	// .making__item--img

	&__item--img {
		flex: 0 1 500px;
		img {
			transform: translate(-100%, 0px);
			opacity: 0;
			transition: all 1s ease 0.3s;

			&._watcher-view {
				transform: translate(0%, 0px);
				opacity: 1;
			}

			max-width: 100%;
			@media (max-width: $tablet) {
				max-width: 300px;
			}
			@media (max-width: $mobile) {
				max-width: 100%;
				text-align: center;
			}
		}
	}

	// .making__item--info

	&__item--info {
		@media (min-width: $mobile) {
			margin-left: 50px;
		}

		flex: 0 1 570px;
		.making__subtitles {
			@media (max-width: $mobile) {
				margin: 30px 0px 30px 0px;
			}
		}
	}

	// .making__title

	&__title {
	}

	// .making__text

	&__text {
		p:last-child {
			transform: translate(0%, -50%);
			&._watcher-view {
				transition: all 1s ease 0.3s;
			}
		}
		p {
			transform: translate(0%, -50%);
			opacity: 0;
			&._watcher-view {
				transition: all 1s ease 0s;
				transform: translate(0%, 0%);
				opacity: 1;
			}
		}

		p:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .making__btn

	&__btn {
		margin: 25px 0px 60px 0px;
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
		}
	}

	// .making__column

	&__column {
		@media (min-width: $tablet) {
			&:hover {
				transform: translateY(-9px);
				transition: all 0.3s ease 0s;
			}
		}

		._icon-file-line {
			background-color: $OrangeColor;
			box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
		}
		._icon-code-line {
			background: #7b7b7b;
			box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
		}
		._icon-settings-4-line {
			background: #00acff;
			box-shadow: 4px 5px 15px rgba(0, 194, 255, 0.4);
		}
		._icon-share-box-line {
			background: #242526;
			box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
		}
	}
}
.making-label {
	.making-items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (min-width: $mobile) {
			margin: 0px -15px;
		}

		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	.making__item {
		transform: scale(0);

		@media (min-width: $mobile) {
			padding: 0px 15px;
		}
		@media (max-width: $mobile) {
			flex: 0 1 100%;
			&:not(:last-child) {
				margin: 0px 0px 25px 0px;
			}
		}
		@media (max-width: $mobileSmall) {
			flex: 0 1 100%;
		}
	}
	._watcher-view {
		.making__item {
			transform: scale(0);
			transition: all 1s ease 0s;
			transform: scale(1);
		}
	}
	.making__subtitles {
		margin: 30px 0px 30px 0px;
	}
	.column-making {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

		flex: 0 1 25%;
		padding: 25px 33px;

		@media (max-width: $tablet) {
			padding: 12px 18px;
		}
		// .column-making__text

		&__text {
			@include adaptiveValue("margin-top", 30, 10);
			text-align: center;
		}
	}
	.icon-making {
		font-size: 23px;
		color: #fff;
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 50px;
	}
}

.project {
	// .project__wrapper

	&__wrapper {
		background-color: $OrangeBackgroundColor;
		padding: 60px 0px 60px 0px;
	}

	// .project__container

	&__container {
	}

	// .project__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}
	}

	// .project__item

	&__item {
	}

	// .project__item--text

	&__item--text {
		flex: 0 1 570px;

		@media (min-width: $mobile) {
			margin: 0px 30px 0px 0px;
		}
	}

	// .project__item--achievements

	&__item--achievements {
		display: flex;
		align-items: center;

		flex-wrap: wrap;
		@media (max-width: $mobile) {
			justify-content: center;
		}
	}
}

.item-project {
	// .item-project__subtitle

	&__subtitle {
	}

	// .item-project__title

	&__title {
	}

	// .item-project__text

	&__text {
		p:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}
	}

	// .item-project__btn

	&__btn {
		margin: 50px 0px 0px 0px;
		@media (max-width: $tablet) {
			margin: 25px 0px 55px 0px;
		}
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
		}
	}
}
.achievements-items {
	display: flex;

	flex: 0 1 570px;
	justify-content: flex-end;
	align-items: center;
	@media (max-width: $mobile) {
		flex: 0 1 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.achievements-item {
	flex: 0 1 270px;
	margin: 0px 30px 30px 0px;

	&:not(:last-child) {
	}
	@media (max-width: $tablet) {
		flex: 0 1 162px;
	}
	@media (min-width: $mobile) {
		&._watcher-view:nth-child(2) {
			transform: translate(0px, 30px);
			transition: transform 0.8s ease 0s;
		}
	}

	&:not(:last-child) {
		margin-bottom: 30px;
	}
	@media (max-width: $mobile) {
		flex: 0 1 100%;

		margin: 0px 0px 30px 0px;
	}

	@media (min-width: $mobile) {
		&:nth-child(2) {
		}
	}

	// .achievements-item__title

	&__title {
		font-size: 48px;
		color: #373737;
		font-weight: 700;

		@media (max-width: $tablet) {
			font-size: 25px;
			font-weight: 500;
		}
		@media (max-width: 375px) {
			font-size: 48px;

			font-weight: 700;
		}
	}
	&__column {
		height: 250px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding: 42px 8px;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		transition: box-shadow 0.3s ease 0s;
		@media (min-width: $tablet) {
			&:hover {
				box-shadow: 0px 1px 10px rgba(0, 0, 0, 0);
			}
		}
		background-color: #fff;
		@media (max-width: $tablet) {
			height: 150px;
		}
	}
	// .achievements-item__text

	&__text {
	}
}
.column-title {
	display: flex;
	align-items: center;
}

.people {
	position: relative;
	// .people__wrapper

	&__wrapper {
		@include adaptiveValue("padding-top", 100, 50);
	}

	// .people__container

	&__container {
	}
	@media (min-width: $tablet) {
		.swiper-backface-hidden .swiper-slide {
			transform: scale(0);

			&._watcher-view {
				@for $var from 1 to 5 {
					$delay: $var * 0.2;
					&:nth-child(#{$var}) {
						@if $var==1 {
							transition: transform 0.8s ease 0s;
						} @else {
							transition: transform 0.9s ease #{$delay + s};
						}
					}
				}
				transform: scale(1);
			}
		}
	}

	.swiper-slide {
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		margin-top: 25px;
		transition: all 0.3s ease 0s;

		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}
		// .swiper-slide__footer

		&__footer {
		}
	}
	.swiper {
		padding: 0px 20px 80px 10px;
		height: 400px;
		@media (max-width: $tablet) {
			height: auto;
		}
		@media (max-width: $mobile) {
			padding: 0px 0px 80px 0px;
		}
	}
	.swiper-wrapper {
		height: 355px;
	}
	.swiper-pagination-bullet {
		background-color: #f37b3f;
		width: 10px;
		height: 10px;
	}
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 0;
	}
	.swiper-pagination {
		position: absolute;
		bottom: 0px;
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

.people-header {
	text-align: center;
	// .people-header__subtitle

	&__subtitle {
		margin: 0px 0px 25px 0px;
	}

	// .people-header__title

	&__title {
	}
}
.swiper-slide:hover .piople-social .vidget-sicial {
	opacity: 1;
}

.piople-social {
	.vidget-sicial {
		top: 29px;
		opacity: 0;
		transition: all 0.3s ease 0s;
	}
}
.piople-social__social {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	@media (min-width: $tablet) {
		.icon-footer:hover {
			transform: translateX(-9px);
			transition: transform 0.3s ease 0s;
		}
	}
	.icon-footer:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
}
.swiper-people {
}

.footer-slaider {
	text-align: center;
	padding: 18px 0;

	// .footer-slaider__title

	&__title {
		font-weight: 500;
		font-size: 20px;
		color: #000;
	}
}
.footer-text {
}

.projects {
	// .projects__header

	&__header {
		text-align: center;
		margin: 120px 0px 25px 0px;
	}
}
.header-projects {
	// .header-projects__list

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 610px;
		margin: 0px auto 55px auto;
		li {
			transition: all 0.3s ease 0s;
			cursor: pointer;
		}
		li:hover {
			color: #f37b3f;
		}
	}
}
.projects-header {
	// .projects-header__subtitle

	&__subtitle {
		margin: 0px 0px 25px 0px;
	}

	// .projects-header__title

	&__title {
	}
}
.hides {
	animation: hides 0.5s forwards;
}
@keyframes hides {
	0% {
		visibility: visible;
		height: 200px;
	}
	100% {
		visibility: hidden;
		margin: 0;
		height: 0;
		max-width: 0;

		width: 0;
	}
}
.anime {
	transform: scale(0);
	opacity: 0;
}

.box {
	transition: all 0.5s ease;
}

.Graphic-Design {
	position: relative;
	._icon-search-line {
		@include adaptiveValue("font-size", 40, 25);
		color: #fff;
	}
	// .Graphic-Design__work

	&__work {
		position: absolute;
		top: 0;
		bottom: -32%;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (max-width: $mobile) {
			bottom: -4%;
		}
	}

	// .Graphic-Design__title

	&__title {
		font-weight: 500;
		@include adaptiveValue("font-size", 25, 20);
		margin: 25px 0px 18px 0px;
		color: #fff;
	}

	// .Graphic-Design__subtitle

	&__subtitle {
		color: #fff;
	}
}

.projects-development {
	// .projects-development__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0px -15px;
		@media (max-width: $mobile) {
			justify-content: center;
		}
	}

	// .projects-development__item

	&__item {
		padding: 0px 15px;
		flex: 0 1 33.333%;
		position: relative;

		@media (max-width: $mobile) {
			flex: 0 1 40%;
		}
		@media (max-width: $mobileSmall) {
			flex: 0 1 100%;
		}
	}

	// .projects-development__column

	&__column {
	}

	img {
		height: 370px;
		width: 100%;
		object-fit: cover;
		object-position: center;
		max-height: 100%;
		@media (max-width: $mobile) {
			height: 220px;
		}
	}
}
.column-development {
	&__item {
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		margin: 0px 0px 30px 0px;
	}
}
.great {
	.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
		background-color: $OrangeColor;
		height: 98%;
		border-radius: 7.5px;
		@media (max-width: $mobile) {
			display: none;
		}
	}
	.swiper-horizontal > .swiper-pagination-progressbar,
	.swiper-pagination-progressbar.swiper-pagination-horizontal {
		width: 50px;
		height: 15px;
		top: 94.2%;
		left: 47.4%;
		background: #373737;
		border-radius: 7.5px;
		bottom: 1px;
		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .great__container

	&__container {
		.swiper {
			padding: 5px 5px 60px 5px;
			.swiper-autoheight .swiper-wrapper {
				align-items: stretch;
				transition-property: transform, height;
			}
		}
	}
}
.great-wrapper {
	background-color: $OrangeBackgroundColor;
	padding: 60px 0px;
	.swiper-autoheight,
	.swiper-autoheight .swiper-slide {
		height: 100%;
	}
}

.great-header {
	margin: 0px 0px 50px 0px;

	// .great-header__subtitle

	&__subtitle {
	}

	// .great-header__title

	&__title {
	}
}
.header-subtitle {
	margin-bottom: 25px;
	text-align: center;
}
// .swiper {
// 	height: 350px;
// }
.swiper-great {
	&__write {
		flex: 0 0 40px;
		background-color: $OrangeBackgroundColor;
		margin: 0px 0px 0px -1px;
	}
	&__info {
		padding: 34px 35px 20px 60px;
		background-color: $OrangeColor;
		position: relative;
		text-align: left;
		color: #fff;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		@media (max-width: $mobile) {
			padding: 34px 15px 20px 30px;
		}
	}
	// .swiper-great__title

	.swiper-slide {
		display: flex;
		background-color: $OrangeBackgroundColor;
		// padding: 0px 0px 60px 0px;
		img {
			position: absolute;
			left: -35px;
			top: 25px;
			rotate: 90deg;
			transition: rotate 0.9s ease 0s;
			&._watcher-view {
				rotate: 0deg;
			}
		}
	}

	&__title {
		color: #fff;
		font-size: 25px;
		font-weight: 500;
		line-height: math.div(25, 31);
		margin: 0px 0px 7px 0px;
		opacity: 0;
		transition: opacity 0.3s ease 0s;
		&._watcher-view {
			opacity: 1;
		}
		@media (max-width: $mobile) {
			padding: 0px 0px 00px 20px;
		}
	}

	// .swiper-great__subtitle

	&__subtitle {
		opacity: 0;
		transition: opacity 0.3s ease 0.3s;
		&._watcher-view {
			opacity: 1;
		}
		@media (max-width: $mobile) {
			padding: 0px 0px 00px 20px;
		}
	}

	// .swiper-great__text

	&__text {
		margin: 20px 0px 0px 0px;
	}

	.swiper-button-prev:after {
		content: "";
		width: 15px;
		height: 15px;
		border-radius: 50px;
		background-color: #7b7b7b;
	}

	.swiper-button-next:after {
		content: "";
		width: 15px;
		height: 15px;
		border-radius: 50px;
		background-color: $OrangeColor;
	}
	.swiper-button-prev {
		right: 46%;
		left: auto;
		top: 97%;
		@media (max-width: 1210px) {
			right: 45%;
		}
		@media (max-width: $tablet) {
			right: 42%;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	.swiper-button-next {
		left: 45%;
		right: auto;
		top: 97%;
		@media (max-width: $tablet) {
			left: 44%;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	.swiper-scrollbar {
	}
}
.swiper-wrapper {
}

//========================================================================================================================================================
.Blogs__container {
	.swiper {
		padding: 5px 5px 60px 5px;
	}
	.swiper-autoheight .swiper-wrapper {
		align-items: stretch;
		transition-property: transform, height;
	}
	.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
		background-color: $OrangeColor;
		height: 98%;
		border-radius: 7.5px;
		@media (max-width: $mobile) {
			display: none;
		}
	}
	.swiper-horizontal > .swiper-pagination-progressbar,
	.swiper-pagination-progressbar.swiper-pagination-horizontal {
		width: 50px;
		height: 15px;
		top: 95.2%;
		left: 47.4%;
		background: #373737;
		border-radius: 7.5px;
		bottom: 1px;
		@media (max-width: $mobile) {
			display: none;
		}
	}
}

.slide-blog__wrraper {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;

	background: #ffffff;
	padding: 25px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.Blogs__wrapper {
	padding: 60px 0px;
	@media (max-width: $tablet) {
		padding: 30px 0px 20px 0px;
	}
}

.swiper-blog {
	// .swiper-great__title

	.swiper-slide {
		// height: 100% !important;
	}

	.swiper-button-prev:after {
		content: "";
		width: 15px;
		height: 15px;
		border-radius: 50px;
		background-color: #7b7b7b;
	}

	.swiper-button-next:after {
		content: "";
		width: 15px;
		height: 15px;
		border-radius: 50px;
		background-color: $OrangeColor;
	}
	.swiper-button-prev {
		right: 46%;
		left: auto;
		top: 97%;
		@media (max-width: 1210px) {
			right: 45%;
		}
		@media (max-width: $tablet) {
			right: 42%;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	.swiper-button-next {
		left: 45%;
		right: auto;
		top: 97%;
		@media (max-width: $tablet) {
			left: 44%;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	.swiper-scrollbar {
	}
}

.swiper-slide {
}
.swiper-slide-blog {
}
.info-blog {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	@media (max-width: $tablet) {
		img {
			width: 100px;
		}
	}
	@media (max-width: 750px) {
		img {
			display: none;
		}
	}
}
.text {
}
.top-subtitle {
	color: #ff5300;
}
.top-title {
	font-size: rem(25);
	color: #373737;
	font-weight: 500;
	max-width: 309px;
	padding-bottom: 20px;
	margin: 0px 47px 0px 0px;
	@media (max-width: 750px) {
		max-width: 100%;
	}
}
.footer-blog {
	display: flex;
	align-items: center;
}
.info-profile {
	margin: 0px 0px 0px 20px;
	.name {
		color: #373737;
		font-weight: 500;
		font-size: 20px;
	}
	.date {
		ul {
			display: flex;
			@media (max-width: 650px) {
				display: block;
			}
		}
		li:last-child {
			list-style: disc;
			margin-left: 30px;
			@media (max-width: 650px) {
				list-style: none;
				margin-left: 0px;
			}
		}
	}
}

.contact {
	// .contact__container

	&__container {
	}

	// .contact__column

	&__column {
		padding: 18px 24px;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		@media (max-width: $mobile) {
			padding: 10px;
		}
	}
}

.contact-header {
	text-align: center;
	flex: 1 1 auto;
	// .contact-header__subtitle

	&__subtitle {
	}

	// .contact-header__title

	&__title {
	}
}
.header-subtitle {
}
.contact-items {
	display: flex;
	margin: 0px -15px;

	justify-content: space-between;
}
.contact-item {
	padding: 0px 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 0 33.333%;
}
.column-contact {
	display: flex;
	flex-direction: column;

	margin: 60px 0px 60px 0px;
	justify-content: space-between;
	padding: 18px 24px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	// .column-contact__header
	height: 100%;
	&__header {
		display: flex;
		margin: 0px 0px 35px 0px;
		@media (max-width: $tablet) {
			justify-content: space-between;
		}
		@media (max-width: 500px) {
			flex-wrap: wrap;
			justify-content: flex-start;
		}
	}

	// .column-contact__footer

	&__footer {
	}
}
.header-contact {
	display: flex;
	// .header-contact__info
	._icon-location::before,
	._icon-phone-call::before,
	._icon--email::before {
		color: #fff;
		font-size: 30px;
		background-color: #ff5300;
		border-radius: 50px;
		padding: 17px;
	}
	._icon-location,
	._icon-phone-call,
	._icon--email {
		margin: 0px 18px 0px 0px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}
	&__info {
		@media (max-width: $mobile) {
			display: flex;
			align-items: center;
		}
	}
}
.servise {
	// .servise__name
	color: #ff5300;
	font-size: 25px;
	font-weight: 500;
	line-height: math.div(31, 25);

	@media (max-width: $tablet) {
		margin: 0px 10px 0px 0px;
	}

	&__name {
		color: #373737;
		font-weight: 600;
		font-size: 31px;
	}
}
.footer-contact {
	.imail {
		display: block;
		font-weight: 500;
		font-size: 20px;
		line-height: math.div(25, 20);
		&:hover {
			color: #fc0808;
		}
		span {
			color: #ff5300;
			transition: color 0.3s ease 0s;
			&:hover {
				color: #fc0808;
			}
		}
		&:first-child {
			padding: 0px 0px 18px 0px;
		}
	}
	.adress {
		font-weight: 500;
		font-size: 20px;
		line-height: math.div(25, 20);
	}
}
.contact-wrapper {
	padding: 60px 0px;
}

.messege {
	// .messege__container

	&__container {
	}

	// .messege__inner

	&__inner {
		display: flex;

		align-items: flex-start;
		padding: 0px 0px 30px 0px;

		@media (max-width: $tablet) {
			flex-wrap: wrap;
			justify-content: space-between;
			@media (max-width: $tablet) {
				justify-content: center;
			}
		}
	}

	// .messege__img

	&__img {
		margin-right: 30px;
		flex: 0 1 600px;
		@media (max-width: $tablet) {
			text-align: center;
			padding: 0px 0px 50px 0px;
		}
		img {
			max-width: 632px;
			width: 100%;
			text-align: center;
			padding-top: 19px;
			@media (max-width: $tablet) {
				max-width: 450px;
			}
		}
	}

	// .messege__form

	&__form {
		flex: 0 1 70%;
		@media (max-width: $tablet) {
			flex: 0 1 100%;
		}
	}
}
.messege .messege-button {
	max-width: 190px;
}
.messege .title-messege {
	font-size: rem(31);
	span {
		white-space: nowrap;
	}
	@media (max-width: $tablet) {
		margin: 30px 0px 30px 0px;
		text-align: center;
		padding: 0px 20px 0px 20px;
	}
}

.form-messege {
	// .form-messege__title

	&__title {
	}
}

.text-input {
	display: flex;
	justify-content: space-between;
	@media (max-width: 510px) {
		flex-wrap: wrap;
		justify-content: center;
	}
	input {
		padding: 18px;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		margin: 0px 0px 18px 0px;
		flex: 0 1 50%;
		color: #7b7b7b;
		font-family: "Work Sans";
		font-size: rem(16);
		&:focus-visible {
			outline-offset: 0px;
			outline: #f37b3fa6 auto 1px;
		}
		@media (max-width: 510px) {
			flex: 0 1 100%;
		}
	}
	.input {
		&:last-child {
			margin-left: 10px;
			@media (max-width: 510px) {
				margin-left: 0px;
			}
		}
	}
}
textarea {
	resize: none;
	width: 100%;
	min-height: 163px;
	padding: 18px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	margin: 11px 0px 29px 0px;
	&:focus-visible {
		outline: #f37b3f auto 1px;
	}
}

.leble {
	// .leble__container

	&__container {
	}
}

.label-items {
	display: flex;
	justify-content: space-between;

	margin: 0px -30px;
	@media (max-width: $tablet) {
		margin: 0px -5px;
	}

	@include adaptiveValue("padding-top", 150, 20);
	@include adaptiveValue("padding-bottom", 150, 20);
}
.label-item {
	flex: 0 1 25%;
	padding: 0px 30px;
	@media (max-width: $tablet) {
		padding: 0px 5px;
	}
}
.label-content {
	position: relative;
	text-align: center;

	.img1 {
		position: absolute;
		top: 0;
		left: auto;
		right: auto;
		transition: all 0.5s ease 0s;
		width: 100%;
	}

	.img2 {
		opacity: 0;
		transition: all 0.4s ease 0s;
		width: 100%;
	}
}
@media (min-width: $tablet) {
	.label-item {
		transform: scale(0);

		&._watcher-view {
			@for $var from 1 to 5 {
				$delay: $var * 0.2;
				&:nth-child(#{$var}) {
					@if $var==1 {
						transition: transform 0.8s ease 0s;
					} @else {
						transition: transform 0.9s ease #{$delay + s};
					}
				}
			}
			transform: scale(1);
		}
	}
}
.label-content:hover .img2 {
	opacity: 0.7;
	transform: scale(1.1);
}
.label-content:hover .img1 {
	opacity: 0;
}
.maps {
	padding: 50px 0px 0px 0px;
}
