.wrapper-digital-agency {
	margin: 90px 0px 0px 0px;
	padding: 158px 0px;
	background-color: $OrangeBackgroundColor;
	position: relative;
	@media (max-width: $tablet) {
		padding: 80px 0px;
	}
	@media (max-width: $mobile) {
		padding: 50px 0px;
	}
}
.vidget-sicial {
	position: fixed;
	right: 0;
	z-index: 2;
}
.digital-agency {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	@media (max-width: $mobile) {
		flex-wrap: wrap-reverse;
		justify-content: center;
	}

	// .digital-agency__container

	&__container {
	}

	// .digital-agency__info

	&__info {
		padding: 15px 0px 0px 0px;
		flex: 0 0 493px;
		@media (max-width: $tablet) {
			flex: 0 0 356px;
		}

		@media (max-width: $mobile) {
			flex: 0 1 500px;
			text-align: center;
			padding: 15px 0px 0px 0px;
		}
	}

	// .digital-agency__social

	&__social {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 30%;

		@media (max-width: $tablet) {
			top: 8%;
		}
		@media (max-width: $mobile) {
			display: none;
		}
		.icon-footer {
			margin: 0px 0px 5px 0px;
		}
	}

	// .digital-agency__img

	&__img {
		padding: 0px 0px 0px 35px;
		@media (max-width: $tablet) {
			padding: 0px 0px 0px 19px;
		}
		img {
			max-width: 100%;
			@media (max-width: $tablet) {
				max-width: 307px;
			}
			@media (max-width: $mobile) {
				max-width: 100%;
			}
		}

		.img {
			transform: translateX(100%);
			@media (max-width: $tablet) {
				transform: translateX(50%);
			}

			&._watcher-view {
				transform: translateX(0);
				transition: transform 1.2s ease 0s;
			}
		}
	}
}

.info-agency-digital {
	// .info-agency-digital__title

	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: math.div(42, 40);
		margin: 0px 0px 11px 0px;

		@media (max-width: $tablet) {
			font-weight: 600;
		}
		@media (max-width: $mobile) {
			font-size: 30px;
		}
	}

	// .info-agency-digital__text

	&__text {
	}

	// .info-agency-digital__btn

	&__btn {
		margin: 50px 0px 0px 0px;
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
		}

		@media (max-width: $mobile) {
			margin: 30px auto 0px auto;
		}
		.link {
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 45%);
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-weight: 500;
			width: 150px;
			height: 50px;
			background-color: $OrangeColor;
		}
	}
}
.socials {
}
.icon-footer {
}

// making  ========================================================================================================================================================
.making {
	// .making__container
	&__wrapper {
		padding: 120px 0px 120px 0px;
		@media (max-width: $mobile) {
			padding: 50px 0px 50px 0px;
		}
	}

	&__container {
	}

	// .making__inner

	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}
	}

	// .making__item

	&__item {
	}

	// .making__item--img

	&__item--img {
		flex: 0 1 500px;
		img {
			transform: translate(-100%, 0px);
			opacity: 0;
			transition: all 1s ease 0.3s;

			&._watcher-view {
				transform: translate(0%, 0px);
				opacity: 1;
			}

			max-width: 100%;
			@media (max-width: $tablet) {
				max-width: 300px;
			}
			@media (max-width: $mobile) {
				max-width: 100%;
				text-align: center;
			}
		}
	}

	// .making__item--info

	&__item--info {
		@media (min-width: $mobile) {
			margin-left: 50px;
		}

		flex: 0 1 570px;
		.making__subtitles {
			@media (max-width: $mobile) {
				margin: 30px 0px 30px 0px;
			}
		}
	}

	// .making__title

	&__title {
	}

	// .making__text

	&__text {
		p:last-child {
			transform: translate(0%, -50%);
			&._watcher-view {
				transition: all 1s ease 0.3s;
			}
		}
		p {
			transform: translate(0%, -50%);
			opacity: 0;
			&._watcher-view {
				transition: all 1s ease 0s;
				transform: translate(0%, 0%);
				opacity: 1;
			}
		}

		p:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .making__btn

	&__btn {
		margin: 25px 0px 60px 0px;
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
		}
	}

	// .making__column

	&__column {
		._icon-file-line {
			background-color: $OrangeColor;
			box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
		}
		._icon-code-line {
			background: #7b7b7b;
			box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
		}
		._icon-settings-4-line {
			background: #00acff;
			box-shadow: 4px 5px 15px rgba(0, 194, 255, 0.4);
		}
		._icon-share-box-line {
			background: #242526;
			box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
		}
	}
}
.making-label {
	.making-items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (min-width: $mobile) {
			margin: 0px -15px;
		}

		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	.making__item {
		transform: scale(0);

		@media (min-width: $mobile) {
			padding: 0px 15px;
		}
		@media (max-width: $mobile) {
			flex: 0 1 100%;
			&:not(:last-child) {
				margin: 0px 0px 25px 0px;
			}
		}
		@media (max-width: $mobileSmall) {
			flex: 0 1 100%;
		}
	}
	._watcher-view {
		.making__item {
			transform: scale(0);
			transition: all 1s ease 0s;
			transform: scale(1);
		}
	}
	.making__subtitles {
		margin: 30px 0px 30px 0px;
	}
	.column-making {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

		flex: 0 1 25%;
		padding: 25px 33px;

		@media (max-width: $tablet) {
			padding: 12px 18px;
		}
		// .column-making__text

		&__text {
			@include adaptiveValue("margin-top", 30, 10);
			text-align: center;
		}
	}
	.icon-making {
		font-size: 23px;
		color: #fff;
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 50px;
	}
}

.project {
	// .project__wrapper

	&__wrapper {
		background-color: $OrangeBackgroundColor;
		padding: 60px 0px 60px 0px;
	}

	// .project__container

	&__container {
	}

	// .project__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}
	}

	// .project__item

	&__item {
	}

	// .project__item--text

	&__item--text {
		flex: 0 1 570px;

		@media (min-width: $mobile) {
			margin: 0px 30px 0px 0px;
		}
	}

	// .project__item--achievements

	&__item--achievements {
		display: flex;
		align-items: center;

		flex-wrap: wrap;
		@media (max-width: $mobile) {
			justify-content: center;
		}
	}
}

.item-project {
	// .item-project__subtitle

	&__subtitle {
	}

	// .item-project__title

	&__title {
	}

	// .item-project__text

	&__text {
		p:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}
	}

	// .item-project__btn

	&__btn {
		margin: 50px 0px 0px 0px;
		@media (max-width: $tablet) {
			margin: 25px 0px 55px 0px;
		}
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
		}
	}
}
.achievements-items {
	display: flex;

	flex: 0 1 570px;
	justify-content: flex-end;
	align-items: center;
	@media (max-width: $mobile) {
		flex: 0 1 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.achievements-item {
	flex: 0 1 270px;
	margin: 0px 30px 30px 0px;

	&:not(:last-child) {
	}
	@media (max-width: $tablet) {
		flex: 0 1 162px;
	}
	@media (min-width: $mobile) {
		&._watcher-view:nth-child(2) {
			transform: translate(0px, 30px);
			transition: transform 0.8s ease 0s;
		}
	}

	&:not(:last-child) {
		margin-bottom: 30px;
	}
	@media (max-width: $mobile) {
		flex: 0 1 100%;

		margin: 0px 0px 30px 0px;
	}

	@media (min-width: $mobile) {
		&:nth-child(2) {
		}
	}

	// .achievements-item__title

	&__title {
		font-size: 48px;
		color: #373737;
		font-weight: 700;

		@media (max-width: $tablet) {
			font-size: 25px;
			font-weight: 500;
		}
		@media (max-width: 375px) {
			font-size: 48px;

			font-weight: 700;
		}
	}
	&__column {
		height: 250px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding: 42px 8px;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		transition: box-shadow 0.3s ease 0s;
		@media (min-width: $tablet) {
			&:hover {
				box-shadow: 0px 1px 10px rgba(0, 0, 0, 0);
			}
		}
		background-color: #fff;
		@media (max-width: $tablet) {
			height: 150px;
		}
	}
	// .achievements-item__text

	&__text {
	}
}
.column-title {
	display: flex;
	align-items: center;
}

.people {
	position: relative;
	// .people__wrapper

	&__wrapper {
		@include adaptiveValue("padding-top", 100, 50);
		@include adaptiveValue("padding-bottom", 100, 50);
	}

	// .people__container

	&__container {
	}
	.swiper-slide {
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		margin-top: 25px;

		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}
		// .swiper-slide__footer

		&__footer {
		}
	}
	.swiper {
		height: 100%;
		padding: 0px 20px 80px 10px;
		@media (max-width: $mobile) {
			padding: 0px 0px 80px 0px;
		}
	}
	.swiper-wrapper {
	}
	.swiper-pagination-bullet {
		background-color: #f37b3f;
		width: 10px;
		height: 10px;
	}
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 0;
	}
	.swiper-pagination {
		position: absolute;
		bottom: 0px;
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

.people-header {
	text-align: center;
	// .people-header__subtitle

	&__subtitle {
		margin: 0px 0px 25px 0px;
	}

	// .people-header__title

	&__title {
	}
}
.swiper-slide:hover .piople-social .vidget-sicial {
	opacity: 1;
}
.piople-social {
	.vidget-sicial {
		top: 29px;
		opacity: 0;
		transition: all 0.3s ease 0s;
	}
}
.piople-social__social {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.icon-footer:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
}
.swiper-people {
}

.footer-slaider {
	text-align: center;
	padding: 18px 0;

	// .footer-slaider__title

	&__title {
		font-weight: 500;
		font-size: 20px;
		color: #000;
	}
}
.footer-text {
}

.projects {
	// .projects__header

	&__header {
		text-align: center;
		margin: 120px 0px 25px 0px;
	}
}
.header-projects {
	// .header-projects__list

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 610px;
		margin: 0px auto 55px auto;
		li {
			transition: all 0.3s ease 0s;
			cursor: pointer;
		}
		li:hover {
			color: #f37b3f;
		}
	}
}
.projects-header {
	// .projects-header__subtitle

	&__subtitle {
		margin: 0px 0px 25px 0px;
	}

	// .projects-header__title

	&__title {
	}
}

.projects-development {
	// .projects-development__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0px -15px;
	}

	// .projects-development__item

	&__item {
		padding: 0px 15px;
		flex: 0 1 33.333%;

		position: relative;
	}

	// .projects-development__column

	&__column {
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
}
.column-development {
	&__item {
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		margin: 0px 0px 30px 0px;
	}
}
.great {
	// .great__container

	&__container {
	}
}
.great-wrapper {
	background-color: $OrangeBackgroundColor;
	padding: 60px 0px;
}

.great-header {
	margin: 0px 0px 50px 0px;

	// .great-header__subtitle

	&__subtitle {
	}

	// .great-header__title

	&__title {
	}
}
.header-subtitle {
	margin-bottom: 25px;
}
.swiper {
}
.swiper-great {
	// .swiper-great__title

	.swiper-slide {
		background-color: #f37b3f;
		position: relative;
		text-align: left;
		color: #fff;
		img {
			position: absolute;
			left: -20px;
			top: 30%;
		}
	}

	&__title {
		color: #fff;
	}

	// .swiper-great__subtitle

	&__subtitle {
	}

	// .swiper-great__text

	&__text {
	}
}
.swiper-wrapper {
}

.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}
