@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Work Sans";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #7b7b7b; // Цвет шрифта по умолчанию
$OrangeColor: #ff5300;
$OrangeBackgroundColor: #fff7f4;
$BlackColor: #373737;
$DarkBackgroundColor: #373737;
$DarkColor: #18191a;
$Dark1Color: #242526;
$Dark2Color: #3a3b3c;
$GrayColor: #7b7b7b;
$WhiteColor: #ffffff;

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1178;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	font-weight: 400;
	background: #ffffff;
	line-height: math.div(24, 16);

	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
.list {
	margin: 100px 0px 0px 0px;
}

// темная тема
html.dark {
	* {
		transition: all 0.1s;
	}

	._title {
		color: #faf6f6;
	}
	body {
		color: #fff;
		background-color: $Dark1Color;
	}
	header {
		background-color: $Dark2Color;
		box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.1);
		a {
			color: #fff;
		}

		.header ._header-scroll {
			background-color: $Dark2Color;
		}
	}

	.wrapper-digital-agency {
		background-color: $Dark2Color;
	}
	.icon-menu span {
		color: $OrangeColor;
	}
	.making__column {
		background: #242526;
		box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.1);
	}
	.making__wrapper {
		background: #18191a;
	}
	.project__wrapper {
		background-color: $DarkColor;
	}
	.achievements-item__text {
		color: rgb(255, 255, 255);
	}
	.achievements-item__title {
		color: rgb(255, 255, 255);
	}
	.achievements-item__column {
		background-color: $Dark2Color;
	}
	.footer-slaider__title {
		color: #fff;
	}
	.footer-slaider {
		background-color: #373737;
	}
	.people .swiper-slide {
		box-shadow: 0px 1px 10px rgba(250, 249, 249, 0.1);
	}
	.people__wrapper {
		background-color: $DarkColor;
	}
	.great-wrapper {
		background-color: $Dark1Color;
	}
	.swiper-great__write {
		background-color: $Dark1Color;
	}
	.swiper-backface-hidden .swiper-slide {
		background-color: $Dark1Color;
	}
	.footer-slaider__title {
		text-shadow: rgb(0, 0, 0) 1px 0 10px;
	}
	.slide-blog__wrraper {
		background-color: $DarkColor;
	}
	.top-title {
		color: #fff;
	}
	.info-profile .name {
		color: #fff;
	}
	.swiper-blog .swiper-slide {
		box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.144);
		@media (max-width: 650px) {
			border: 1px solid rgba(255, 255, 255, 0.144);
			border-radius: 25px;

			background-color: $DarkColor;
		}
	}
	@media (min-width: $tablet) {
		.swiper-slide:hover .footer-slaider__title {
			color: rgb(10, 10, 10);
			transition: all 0.7s ease 0s;
		}

		.swiper-slide:hover .footer-slaider {
			background-color: #fff;
			color: rgb(10, 10, 10);
			transition: color 0.9s ease 0s;
		}
	}

	.servise__name {
		color: #fff;
	}
	.contact__column {
		box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.144);
		background-color: $DarkColor;
	}

	._icon-timer1:before {
		content: "\e90a";
		color: #fff;
	}
	.letes-post__title {
		color: #fff7f4;
	}
	.saide-bar {
		form {
			filter: drop-shadow(0px 4px 4px rgba(253, 253, 253, 0.25));
		}
	}
	.input {
		background-color: #242526;
		color: #fff;
	}

	.bar__title {
		color: #ffffff;
		transition: all 0.3s ease 0s;
	}

	.contur {
		background: #242526;
		color: #fff;
		box-shadow: 0px 1px 10px rgba(252, 252, 252, 0.1);
	}
}

// светлая тема
html.light {
	* {
		transition: all 0.1s;
	}
	body {
		background-color: #fff;
		color: $mainColor;
	}
	header {
		background-color: #fff;
		color: $mainColor;
	}
	@media (min-width: $tablet) {
		.swiper-slide:hover .footer-slaider {
			background-color: $DarkBackgroundColor;
			color: #fff;
			transition: color 0.9s ease 0s;
		}
		.swiper-slide:hover .footer-slaider__title {
			color: #fff;
			transition: all 0.7s ease 0s;
		}
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 3));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "ul";
